<style>
.a{
      font-size:30px;
}
</style>
<style>
.b{
      font-size:20px;
      font-family:italic;
      margin-top:10px;
}
</style>
<style>
.table{
	table-layout: fixed;
}
</style>
<div class="a">
<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</div>
<p class="b">Posts</p></br>
<table class="table table-hover" style="text-align:center">
<tr>
<td><strong>#</strong></td>
<td><strong>제목</strong></td>
<td><strong>닉네임</strong></td>
<td><strong>작성일</strong></td>
<td></td>
</tr>

<% @posts.each do |p| %>
<tr>
<td><%=p.id%></td>
<td><% if p.user_title=="" %>제목 없음<% else %><%=p.user_title%><% end %></td>
<td><% if p.user_name=="" %>익명<% else %><%=p.user_name%><%end%></td>
<td><%=p.user_date.to_date%></td>
<td><a href="/home/show1/<%=p.id%>">조회</a></td>
</tr>
<% end %>
</table>
